.c8a7c3a22a8f1e23c11bfe498146f2Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 60vh; /* Maintain aspect ratio by setting height to auto */
  max-height: 100%;
  object-fit: cover;
  min-height: 140px;
  max-height: 100%;
}

@media (max-width: 600px) {
  .c8a7c3a22a8f1e23c11bfe498146f2Icon {
    height: 38vh;
    min-height: 120px;
  }
}

.galleryHeader {
  margin-bottom: -230px;
}

.photo {
  font-family:var(--font-satisfy);
  font-size: var(--font-size-9xl); 
  color: #3a3a3acc; 
  margin-top: 0px; 
}

.gallery {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;

}
.galleryNavigationButtonBack {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background: linear-gradient(101.84deg, #f70, rgba(255, 119, 0, 0));
  border: 0.5px solid var(--color-darkorange-200);
  box-sizing: border-box;
}
.moreShots {
  align-items: center;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
  cursor: pointer;
}

.galleryNavigation {
  display: flex;
  align-items: center; /* Center items vertically */
}

.galleryNavigation,
.galleryNavigationButtonBackParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.galleryNavigationButtonBackParent {
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-8xs)
    var(--padding-xs);
  position: relative;
  white-space: nowrap;
}
.galleryNavigation {
  padding: 0 var(--padding-5xl) 0 var(--padding-4xl);
  text-align: left;
  font-size: var(--font-size-7xs);
  color: var(--color-gray-200);
  font-family: var(--font-raleway);
}
.galleryTitle {
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  align-items: center; /* Center align the elements */
  justify-content: center; /* Center align the elements */
  width: 100%; /* Full width */
  margin-top: -15px;
}
.galleryHeader,
.galleryTitle,
.galleryTitleContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align the elements */
  justify-content: center;  /* Add padding for spacing */
}
.galleryHeader {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-4xl-5);
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-darkorange-100);
  font-family: var(--font-bricolage-grotesque-48pt);
}

