.bb7947c94b51760e467704378fe81Icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.multaniBiryaniMainLogo1 {
  width: 62px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: 1;
}
.multani {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
  color: #ffffff;
  margin-bottom: 5px;
}
.biryani {
  width: 130px;
  position: absolute;
  margin: 0 !important;
  bottom: -30px;
  left: 0;
  font-size: var(--font-size-19xl);
  letter-spacing: 0.01em;
  font-weight: 600;
  color: var(--color-darkorange-100);
  display: inline-block;
  z-index: 2;
  margin-bottom: 0px;
}
.brandName {
  width: 198px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  position: relative;
}
.menuContactLink {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background: linear-gradient(101.53deg, #d9d9d9, rgba(255, 255, 255, 0));
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
}
.ourMenu {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 36px;
  z-index: 1;
  color: #ffffff;
}
.menuContactLinkParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  position: relative;
  white-space: nowrap;
  z-index: 1;
  margin-bottom: 0px;
}
.instanceChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background: linear-gradient(114.72deg, #f70, rgba(255, 255, 255, 0));
  border: 0.5px solid var(--color-darkorange-200);
  box-sizing: border-box;
}

.experienceAVibrant{
  letter-spacing: -0.03em;
  line-height: 126.67%;
  z-index: 1;
  color: rgb(172, 172, 172);
}
.contactUs {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
  color: #ffffff;
}
.rectangleParent {
  padding: var(--padding-9xs) var(--padding-4xs);
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.menuContact,
.menuLinks,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuContact {
  gap: var(--gap-3xl);
}
.menuLinks {
  padding: 0 var(--padding-10xs);
}

.menuNavigation {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi);
}
.header,
.logoContainer,
.menuNavigation,
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}
.navigation {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  font-size: var(--font-size-6xs);
  font-family: var(--font-raleway);
}
.header,
.logoContainer {
  flex-direction: column;
}
.logoContainer {
  align-self: stretch;
  padding: var(--padding-49xl) 0 0;
  position: relative;
  gap: var(--gap-32xl);
}
.header {
  flex: 1;
  padding: var(--padding-11xs) 0 0;
}
.lineHorizontal3,
.mainFrame {
  overflow: hidden;
  position: relative;
}
.lineHorizontal3 {
  height: 20px;
  width: 30px;
  flex-shrink: 0;
  z-index: 1;
}
.mainFrame {
  align-self: stretch;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-sm) var(--padding-7xs);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--font-size-29xl);
  font-family: var(--font-bricolage-grotesque-48pt);
  width: 100%;
  height: auto;
}

@media (max-width: 425px) {
  .mainFrame {
    height: 235px; /* Set a specific height for mobile */
  }

  .biryani {
    margin-bottom: 0px;
  }

  .experienceAVibrant{
    font-size: 10px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .mainFrame {
    height: 250px; /* Increase height for tablets */
  }

  .experienceAVibrant {
    font-size: 16px;
  }

  .multani {
    margin-bottom: 10px; /* Increase margin for larger screens */
  }

  .biryani {
    margin-bottom: 15px; /* Increase margin for larger screens */
  }

  .experienceAVibrant {
    margin-bottom: 15px; /* Increase margin for larger screens */
  }
}


@media (min-width: 768px) {
  .mainFrame {
    height: 300px; /* Increase height for tablets */
  }

  .header {
    padding: var(--padding-20xs) 0; /* Increase top padding for larger screens */
    min-height: 90px; /* Increase minimum height for larger screens */
  }

  .navigation {
    padding: 0 0 0 var(--padding-15xs); /* Adjust left padding for larger screens */
    font-size: var(--font-size-xs); /* Adjust font size for larger screens */
  }

  .experienceAVibrant {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .mainFrame {
    height: 300px; /* Increase height for tablets */
  }

  .experienceAVibrant {
    font-size: 20px;
  }

  .header {
    padding: var(--padding-30xs) 0; /* Further increase top padding for larger screens */
    min-height: 100px; /* Further increase minimum height for larger screens */
  }

  .navigation {
    min-height: 60px; /* Further increase minimum height for larger screens */
    font-size: var(--font-size-sm); /* Adjust font size for larger screens */
  }

  .experienceAVibrant {
    font-size: larger;
  }
}
