.e2a7b5dc0d21f8cc7757fd57f491ffIcon {
  width: 65px;
  height: 62px;
  position: relative;
  object-fit: contain;
}
.rice {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 29px;
}
.e2a7b5dc0d21f8cc7757fd57f491ffParent,
.riceWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-lg);
}
.e2a7b5dc0d21f8cc7757fd57f491ffParent {
  border-radius: var(--br-3xl);
  background-color: var(--color-bisque);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-mid) var(--padding-6xs);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
