.c0566b8ce26a85119cb9dbaff7221bIcon {
  width: 68px;
  height: 68px;
  position: relative;
  object-fit: contain;
}
.mixVeg {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
}
.c0566b8ce26a85119cb9dbaff7221bParent,
.mixVegWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.mixVegWrapper {
  align-self: stretch;
  height: 16px;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
}
.c0566b8ce26a85119cb9dbaff7221bParent {
  width: 100px;
  border-radius: var(--br-3xl);
  background-color: var(--color-bisque);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-sm) var(--padding-6xs);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
