.writeReviewButtonBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background: linear-gradient(102.66deg, #020202, transparent);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
}
.writeAReview {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.writeReviewButtonBackgroundParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-8xs)
    var(--padding-mid);
  position: relative;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-6xs);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
