.footerFormBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background: linear-gradient(102.66deg, #020202, transparent);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
}
.userCicrleIcon {
  height: 17px;
  width: 17px;
  position: relative;
  z-index: 1;
}
.writeYourQueries {
  position: relative;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.footerFormBackgroundParent,
.footerFormLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.footerFormBackgroundParent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-7xs);
  position: relative;
  gap: var(--gap-mid);
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
  font-family: var(--font-raleway);
}
